
#fixture-div {
  width: 500px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(105, 105, 105);
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;

display: grid;
grid-template-columns: 33.3% 33.3% 33.3%;
grid-template-rows: 100%;
grid-template-areas: 
"s1 s2 s3"
}
#home-team-div { 
grid-area: s1;
justify-content: center;
align-items: center;
text-align:center;
background-color: rgb(247, 196, 196);
}
#central-div { 
grid-area: s2;
background-color: #8bf7a2;
}
#away-team-div { 
grid-area: s3;
background-color: #eff59c;
justify-content: center;
align-items: center;
text-align:center;
}












