#fixture-div {
    border: 2px solid black;
    margin-bottom: 30px;
    width: 80%;
    height: 500px; 
    margin-left: 150px;
}

#image-home {
    height: 50px;
    width: 50px;

}

#image-away {
    height: 50px;
    width: 50px;

}

#away-team {
  float: right;
}